# Scrapy stuff:
.scrapy

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook

.ipynb_checkpoints/
*.pyc
*.html
.project
.pydevproject
build/
dist/
pycrawler101.egg-info/
.DS_Store
CaseStudies/Angelist/

.git
